*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
canvas{
    border: 2px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    cursor: pointer;
}
#preview{ 
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}
.ball{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}